@import "tailwindcss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes run {
    0% {
      transform: translateX(0) translateY(0);
    }
    25% {
      transform: translateX(25%) translateY(-5px);
    }
    50% {
      transform: translateX(50%) translateY(0);
    }
    75% {
      transform: translateX(75%) translateY(-5px);
    }
    100% {
      transform: translateX(100vw) translateY(0);
    }
  }

  .animate-run {
    animation: run 4s linear infinite;
  }
}
